AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php
# Alternative rule
#RewriteRule ^(.*)$ /index.php


# Deny access
<Files "plugins.dat">
	order allow,deny
	deny from all
</Files>
<Files "plugin.xml">
	order allow,deny
	deny from all
</Files>
<Files ~ "\.tpl$">
    Order allow,deny
    Deny from all
</Files>
## Файл /home/mysupersite/.htaccess
## Укажите здесь ваш внешний IP-адрес, а не 192.168.0.49!
# dnwr_ip 192.168.12.38